<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="images">
    <div class="article-main">
      <h1 class="article-title">Be sure to pack a pen, because this is food to write home about</h1>
      
      
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1" ></li>
          <li data-target="#myCarousel" data-slide-to="2" ></li>
        </ol>
        <div class="carousel-inner">
          <div class="item">
            <img src="http://media.lonelyplanet.com/lpi/19063/19063-10/681x454.jpg" alt="">
            <div class="carousel-caption">
              <h4>First Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
          <div class="item">
            <img src="http://media.lonelyplanet.com/lpi/3808/3808-1/681x454.jpg" alt="">
            <div class="carousel-caption">
              <h4>Second Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
          <div class="item active">
            <img src="http://media.lonelyplanet.com/lpi/5478/5478-45/681x454.jpg" alt="">
            <div class="carousel-caption">
              <h4>Third Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      </div>
      
      
      
      <h4>Chouricos, Goa, India</h4>
      <p>
        Slow-dried in long, lavish strings under the hot Indian sun, Goa’s culinary nod to its Portuguese heritage appears in its tastiest incarnation in the lunchtime chouriço. You’ll find plenty of carts vending their meaty wares throughout the state, many with appealingly ecclesiastical names such as ‘Virgin Mary Meats’ or ‘Ave Maria Sausages’. Spiced with chilli, vinegar, garlic and ginger, chouriços are eaten unaccompanied or with soft Goan pao bread rolls. For the ultimate lunch rush, they’re washed down with a glass or two of fiery feni, a nap-inducing local liquor distilled from cashew or coconut. 
      </p>
      <h4>Kushari, Cairo, Egypt</h4>
      <p>
        Boarding the night train from Cairo? Don’t climb into your cabin without a container or two of kushari, a Cairene comfort food that will guarantee a good night’s sleep in even the most rickety of second-class berths. A soothing combination of vermicelli pasta, rice, lentils, chickpeas and sweet caramelised onions laced with a garlic-laden tomato sauce, a good kushari has the same effect on an Egyptian as a nice cup of tea does on anyone from Britain. Locate local street vendors by their huge metal cauldrons.
      </p>
      <h2 class="read-more-header">Bánh Mi, Ho Chi Minh City, Vietnam</h2>     
      <a id="read-more-button" class="btn btn-primary">Read More</a>
      <p class="read-more-paragraph well">
        As you cruise the elegant French colonial vestiges of Ho Chi Minh City (Saigon), stop off at a streetside stall for the Vietnamese take on its former colonisers’ simple salad sandwich – heavenly bánh mi is a piece of history wrapped in a baguette. Tender chunks of grilled pork swaddled inside fluffy French bread combine with Vietnamese mayonnaise, coarsely chopped pickled daikon radish and carrot, together with a touch of eye-watering chilli sauce, to create the best East-meets-West moment you’ll ever taste. Close your eyes, take a bite and be transported back to the grand imperial days of old Saigon.
      </p>
    </div>
  </div>
  <div class="tab-pane fade" id="video">
    <h1 class="article-title">Victor Wooten performs a solo bass rendition of "Isn't She Lovely"</h1>
    <p>
    <iframe width="853" height="480" src="//www.youtube.com/embed/eynnYLXW3Fo" frameborder="0" allowfullscreen></iframe>
    </p>
  </div>
  <div class="tab-pane fade" id="games">
    <h1 class="article-title">Adam Sessler reviews Grand Theft Auto 5</h1>
    <p>
    <iframe width="853" height="480" src="//www.youtube.com/embed/pciGmXmE3uk" frameborder="0" allowfullscreen></iframe>
    </p>
  </div>
  
</div>